/*这个文件里面放的是 首页的样式*/
.main {
	width: 980px;
	height: 455px;
	margin-left: 219px;
	margin-top: 10px;
}
.focus {
	position: relative;
	width: 720px;
	height: 455px;
	background-color: purple;
}
.arrow-l,
.arrow-r {
	position: absolute;
	top: 50%;
	margin-top: -20px;
	width: 30px;
	height: 40px;
	background: rgba(0, 0, 0, .3);
	border-radius: 0 20px 20px 0;
	text-align: center;
	line-height: 37px;
	color: #fff;
	font-size: 18px;
	font-family: 'icomoon';
}
.arrow-r {
	right: 0;
	border-radius: 20px 0 0 20px;
}
.circle {
	position: absolute;
	bottom: 10px;
	left: 50px;
}
.circle li {
	float: left;
	width: 8px;
	height: 8px;
	/*background-color: #fff;*/
	border: 2px solid rgba(255, 255, 255, 0.5);
	margin: 0 3px;
	border-radius: 50%;
	/*鼠标经过显示小手*/
	cursor: pointer;

}
.current {
	background-color: #fff;
}
.newsflash {
	width: 250px;
	height: 455px;
}
.news {
	height: 163px;
	border: 1px solid #ccc;
}
.news-hd {
	height: 32px;
	/*dotted 点线  dashed  虚线*/
	border-bottom: 1px dotted #ccc;
	padding:0  15px;
	font-size: 14px;
	line-height: 32px;

}
.news-hd a {
	float: right;
	font-size: 12px;
	font-family: 'icomoon';
}
.news-bd {
	padding: 10px 0 0 15px;
}
.news-bd li {
	height: 23px;
}
.lifeservice {
	overflow: hidden;
	height: 208px;
	border: 1px solid #ccc;
	border-top: none;
}
.lifeservice ul {
	width: 252px;
}
.lifeservice li {
	position: relative;
	float: left;
	width: 62px;
	height: 70px;
	border-right: 1px solid #ccc;
	border-bottom: 1px solid #ccc;
}
.lifeservice li a {
	display: block;
	/* overflow: hidden; 解决i 引起的 外边距塌陷合并的问题*/
	overflow: hidden;
	height: 100%;
}
.lifeservice li p {
	text-align: center;
}
.hot {
	position: absolute;
	right: 0;
	top: 0;
	width: 12px;
	height: 15px;
	background: url(../img/jian.jpg) no-repeat;
}
.service_ico {
	display: block;
	width: 24px;
	height: 24px;
	background: url(../img/icons.png) no-repeat;
	margin: 10px auto;
}
.service_ico_huafei {
	background-position: -17px -16px;

}
.service_ico_feiji {
	width: 26px;
	background-position: -78px -16px;
}
.service_ico_dianying {
	background-position: -141px -16px;
}
.service_ico_youxi {
	background-position: -206px -16px;
}
.service_ico_caipiao {
	background-position: -17px -88px;
}
.service_ico_jiayou {
	width: 26px;
	background-position: -78px -88px;
}
.service_ico_jiudian {
	background-position: -141px -88px;
}
.service_ico_huoche {
	background-position: -206px -88px;
}
.service_ico_zhongchou {
	background-position: -17px -159px;
}
.service_ico_licai {
	width: 26px;
	background-position: -78px -159px;
}
.service_ico_lipin {
	background-position: -141px -155px;
}
.service_ico_baitiao {
	background-position: -206px -159px;
}
.bargain {
	height: 75px;
	margin-top: 5px;
}
/*推荐模块*/
.recommend {
	height: 163px;
	margin-top: 10px;
}
.recom-hd {
	position: relative;
	width: 200px;
	height: 163px;
	background-color: #5c5251;
	text-align: center;
}
.recom-hd .mask {
	display: none;
	position: absolute;
	top: 0;
	left: 0;
	width: 200px;
	height: 163px;
	background: rgba(0,0,0,.2);
	transition: all 1s;
}
.recom-hd:hover img {
	transform: translateY(-8px); 
}
.recom-hd a:hover .mask {
	display: block;
}
.recom-hd img {
	margin: 30px 0 10px 0;
	transition: all .4s ease;
}
.recom-hd h3 {
	font-size: 18px;
	color: #fff;
	font-weight: normal;
}
.recom-bd {
	width: 1000px;
	height: 163px;
	background-color: #ebebeb;
}
.recom-bd a:hover {
	color: #333;
}
.recom-bd li {
	float: left;
	width: 249px;
	height: 143px;
	border-right: 1px solid #ccc;
    margin-top: 10px;
}
.recom-bd img {
	float: right;
	height: 143px;
	transition: all .4s ease;
}
.recom-bd img:hover {
	transform: translateY(-8px); 
}
div[class^=recom-bd-left] {
	float: left;
	margin-top: 6px;
}
div[class^=recom-bd-left] h5,
div[class^=recom-bd-left] span {
	font-size: 16px;
	margin-left: 20px;
}
div[class^=recom-bd-left] span {
	padding: 0 1px;
}
div[class^=recom-bd-left] h5 {
	margin-bottom: 6px;
}
div[class^=recom-bd-left] p {
	margin: 0 0 20px 20px;
}
.recom-bd-left1 span {
	color: #fff;
	background-color: #00a0e8;
}
.recom-bd-left2 span {
	color: #fff;
	background-color: #5fb200;
}
.recom-bd-left3 span {
	color: #fff;
	background-color: #e2162f;
}
.recom-bd-left4 span {
	color: #fff;
	background-color: #0085fb;
}
div[class^=recom-bd-left] .buy {
	padding: 0 16px;
	border-radius: 8px;
}
.recom-bd-left1 .buy {
	display: none;
}
.recom-bd .last {
	border-right: 0;
}
/*guess 模块*/
.guess {
	height: 320px;
}
.guess-hd {
	height: 44px;
	line-height: 44px;
	font-size: 18px;
	margin: 10px 0;
}
.guess-hd .fr {
	font-size: 12px;
}
.refresh {
	font-size: 12px;
	margin: 15px;
	font-family: 'icomoon';
}
.guess-bd {
	overflow: hidden;
	position: relative;
	width: 1200px;
	border: 1px solid #ccc;
}
.guess-bd div {
	position: absolute;
	top: 260px;
	font-family: 'icomoon';
	height: 50px;
	width: 200px;
	text-align: center;
	color: #fff;
	font-size: 16px;
	line-height: 50px;
	background-color: #fea43c;
	transition: all .3s ease;
}
.guess-bd li {
	float: left;
	width: 200px;
	height: 230px;
	margin: 15px 0;
}
.guess-bd li:hover .pro_detail {
	display: none;
}
.guess-bd li:hover div {
	transform: translateY(-50px); 
}
.guess-bd img {
	display: block;
	height: 150px;
	margin: 5px auto;
}
.guess-bd p {
	display: inline-block;
	width: 140px;
	padding: 2px 30px;
	border-right: 1px solid #ccc;
}
.guess-bd .price {
	font-size: 18px;
	color: #DF3033;
}
/*floor 楼层区*/
.floor {
	margin-bottom: 120px;
}
.box-hd {
	height: 30px;
	border-bottom: 2px solid #c81623;
	margin-top: 25px;
}
.box-hd h3 {
	float: left;
	font-size: 18px;
	color: #c81623;
}
.tab-list {
	float: right;
	line-height: 30px;
}
.tab-list li {
	float: left;
}
.tab-list li a {
	margin: 0 15px;
}
.box-bd {
	height: 360px;
}
.w209,
.w219,
.w220,
.w329 {
	position: relative;
}
.w209 img,
.w219 img,
.w220 img,
.w329 img {
	position: absolute;
	bottom: 0;
	right: 0;
}
.w329 img {
	bottom: 30px;
}
.w329 .cir {
	position: absolute;
	height: 30px;
	bottom: 0;
	left: 50%;
	transform: translateX(-50%);
	cursor: pointer;
}
.w329 .cir li {
	float: left;
	width: 8px;
	height: 8px;
	border: 2px solid rgba(255, 255, 255, 0.5);
	margin: 0 3px;
	border-radius: 50%;
}
.w209 {
	width: 209px;
	background-color: #f9f9f9;
}
.w209 img {
	width: 100%;
}
.w209 h5,
.w209 h6 {
	color: #cb343d;
	font-size: 18px;
	text-align: center;
}
.w209 h6 {
	font-size: 12px;
}
.w329 {
	width: 329px;
	background-color: #aed6d8;
}
.shouji .w329 {
	background-color: #c6e8b6;
}
.diannao .w329 {
	background-color: #d7aac9;
}
.w329 h5,
.w329 h6 {
	display: block;
	font-size: 18px;
	font-weight: 400;
	color: #1d7584;
	margin-top: 42px;
	margin-left: 30px;
}
.shouji .w329 h5,
.shouji .w329 h6 {
	color: #578d38;
}
.diannao .w329 h5,
.diannao .w329 h6 {
	color: #a47194;
}
.w329 h6 {
	margin-top: 0;
	font-size: 16px;
}
.w219 {
	width: 219px;
	border-right: 1px solid #ccc;
}
.w220 {
	width: 220px;
	border-right: 1px solid #ccc;	
}
.tab-con li {
	float: left;
	height: 360px;
}
.tab-con-item,
.tab-con-item219 {
	overflow: hidden;
	position: relative;
	z-index: 1;
	height: 179px;
	border-bottom: 1px solid #ccc;
}
.tab-con-item h5,
.tab-con-item h6 {
	display: block;
	font-size: 16px;
	font-weight: 400;
	color: #000;
	margin-top: 25px;
	margin-left: 20px;
}
.tab-con-item h6 {
	color: #e60012;
	font-size: 14px;
	margin-top: 0;
}
.tab-con-item219 {
	height: 359px;
}
.tab-con-item219 h5,
.tab-con-item219 h6 {
	display: block;
	font-size: 18px;
	font-weight: 400;
	color: #000;
	margin-top: 70px;
	text-align: center;
}
.tab-con-item219 h6{
	font-size: 16px;
	color: #ccc;
	margin-top: 0;
}
.tab-con-list {
	overflow: hidden;
	margin-bottom: 15px;
}
.tab-con-list li {
	width: 86px;
	height: 32px;
	line-height: 32px;
	border-bottom: 1px solid #ccc;
	margin-left: 10px;
	text-align: center;
}
.box-bd li {
	overflow: hidden;
}
.box-bd img {
	/*过渡写到本身上， 谁做动画，给谁加*/
	transition: all .2s;
}
/*我们鼠标经过图片 往右走 8px*/
.box-bd img:hover {
	transform: scale(1.1);
}
.box-ft {
	margin-top: 20px;
	height: 66px;
	background-color: #f7f7f7;
}
.box-ft img {
	width: 119px;
}
.box-ft ul li {
	float: left;
	width: 119px;
	height: 34px;
	border-right: 1px dotted #ccc;
	margin-top: 16px;
}
.box-ft ul li:last-child {
	border-right: none;
}
/*电梯导航*/
.fixedtool {
	position: fixed;
	top: 200px;
	left: 50%;
	margin-left: -676px;
	width: 66px;
	background-color: #fff;
}
.fixedtool li {
	height: 32px;
	line-height: 32px;
	text-align: center;
	font-size: 12px;
	border-bottom: 1px solid #ccc;
	cursor: pointer;
}
.fixedtool .current {
	background-color: #c81623;
}
.fixedtool .current a {
	color: #fff;
}


